.card-deck
  = render partial: "machines_blog", locals: {num: 60, name: "Synergy", common: "リニアック装置", company: "Elekta", place: "リニアック室1", use: "VMAT、全身照射", url: "https://www.elekta.co.jp/", date: "不明"}
  = render partial: "machines_blog", locals: {num: 61, name: "Novalis Tx", common: "リニアック装置", company: "Brainlab", place: "リニアック室2", use: "SRT", url: "https://www.brainlab.com/ja/radiosurgery-products/novalis/", date: "不明"}
  = render partial: "machines_blog", locals: {num: 62, name: "Aquilion LB", common: "X線CT装置", company: "キヤノンメディカルシステムズ", place: "CTシミュレータ室", use: "放射線治療計画用CT", url: "https://jp.medical.canon/", date: "不明"}
