.card-deck
  = render partial: "machines_blog", locals: {num: 30, name: "MGNETOM Aera", common: "MRI装置", company: "Siemens Healthineers", place: "MRI撮影室1", use: "体幹部 1.5T", url: "https://www.siemens-healthineers.com/jp/", date: "不明"}
  = render partial: "machines_blog", locals: {num: 31, name: "Achieva dStream", common: "MRI装置", company: "Philips", place: "MRI撮影室2", use: "頭部各種 3T", url: "https://www.philips.co.jp/healthcare/solutions/magnetic-resonance/imaging-systems", date: "不明"}
  = render partial: "machines_blog", locals: {num: 32, name: "Discovery MR750w", common: "MRI装置", company: "GE Healthcare", place: "MRI撮影室3", use: "FIESTA、ASL 3T", url: "http://www3.gehealthcare.co.jp/", date: "不明"}
